<form action="/equipment/<%= @equipment["id"] %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="equipment_name">Enter a new name for the equipment:</label>
  <input type="text" name="equipment_name" value="<%= @equipment["name"] %>">
  <button type="submit">Update Equipment</button>
</form>