<h1>Add New Equipment</h1>

<form action="/equipment" method="post">
  <input type="text" name="equipment_name" id="">
  <button type="submit">Add Equipment</button>
</form>

<p><a href="/equipment">Cancel</a></p>