<h1>Welcome to the Exercise Collector!</h1>

<p>
  The Exercise Collector is your personal exercise database where you can store
  your favorite exercises and new exercises as you discover them so you can easily
  recall them when planning your next workout. You can filter by muscles worked and
  equipment needed for easy re-discovery.
</p>

<p><a href="/accounts/new">Create an account</a> today to start collecting your favorite exercies.</p>