<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <title>Exercise Database</title>
</head>
<body>
  <% if session[:success] %>
    <div class="flash success">
      <p><%= session.delete(:success) %></p>
    </div>
  <% end %>

  <% if session[:error] %>
    <div class="flash error">
      <p><%= session.delete(:error) %></p>
    </div>
  <% end %>

  <main>
    <%= yield %>
    <p><a href="/">Home</a></p>
  </main>
</body>
</html>