<form action="/exercises" method="post">
  <label for="exercise_name">Enter the exercise name:</label>
  <input type="text" name="exercise_name" placeholder="List Name">
  <input type="submit" value="Add Exercise">
</form>