<h1>Welcome!</h1>
<p>Create an account to start your own exercise collection.</p>

<form action="/accounts" method="post">
  <label for="username">Enter a username for your account:</label>
  <input type="text" name="username" id="" minlength="4" required>
  <br>
  <br>
  <label for="password">Enter a password. Must be at least 8 characters.</label>
  <input type="password" name="password" minlength="8" required>
  <br>
  <br>
  <input type="submit" value="Create Account">
</form>